@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Onest", sans-serif;
}

:root {
  --fly-white: #fff;
  --fly-bg-primary: #F9F9F9;
  --fly-primary: #7c8bff;
  --fly-text-primary: #323232;
  --fly-text-white-disabled: rgba(255, 255, 255, 0.6);
  --fly-text-disabled: rgba(0, 0, 0, 0.5);
  --ply-primary-disabled: rgba(0, 0, 0, 0.3);
  --fly-text-secondary: rgba(50, 50, 50, 0.85);
  --fly-border-color: rgba(0, 0, 0, 0.08);
  --fly-input-placeholder-color: rgba(0, 0, 0, 0.4);
  --fly-link: #1795F0
}
